.form {
    top: 30%;
    left: 30%;
    background: #fff;
    width: 285px;
    margin: -140px 0 0 -182px;
    padding: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
    h2 {
      text-align: center;
      margin: 20px;
      line-height: 1;
      color: #44c4e7;
      font-size: 35px;
      font-weight: 400;
      font-family: "Century Gothic, CenturyGothic, AppleGothic, sans-serif";
      margin-top: 5%;
      font-weight: bold ;
    }
    .textos {
      outline: none;
      display: block;
      width: 35%;
      
      padding: 10px 15px;
      border: 1px solid #ccc;
      color: #ccc;
      font-family: "Roboto";
      box-sizing: border-box;
      font-size: 20px;
     font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: 0.2s linear;
      margin-bottom: 10px;
    }
    button {
        cursor: pointer;
        background: #44c4e7;
        width: 25%;
        padding: 10px 15px;
        border: 0;
        color: #fff;
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 400;
        margin-top: 1%;
        margin-left: 38%;
  
      }
     
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }
    
   